.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/background.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  
  .results h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .results p {
    font-size: 1.5em;
    margin: 10px 0;
  }
  