.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/background.jpeg') no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.bonfire img {
  width: 200px;
  height: auto;
}
